<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BushmillDrinks.My.MySettings.ConnStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=BushmillDrinks;Integrated Security=True;" />
    </connectionStrings>
</configuration>
